@charset "utf-8";
/* CSS Document */

#count1{
	display:block;
	width:250px;
	height:50px;
	background-color:#0F0;
	border:solid 5px blue;
	border-radius:20px;
	padding : 20px;
	float:left;
}
#count2{
	display: inline-block;
	width:250px;
	height:50px;
	border:solid 5px blue;
	border-radius:20px;
	padding : 20px;
	background-color:#00F;
}

/*翻页超链接*/
    .pages {
                margin:3px 0;
                font:11px/12px Tahoma;
            }
    .pages * {
                vertical-align:middle;
            }
     .pages a {
                padding:1px 4px 1px;
                border:1px solid #6699CC;
                margin:0 1px 0 0;
                text-align:center;
                text-decoration:none;
                font:normal 12px/14px verdana;
                color:#2F5FA1;
                background-color:#F3F8FC;
            }
  .pages a:hover {
                border:#cf850a 1px solid;
                background:#ffeccd;
                text-decoration:none;
                color:#d36800
            }
    .pages b {
                padding:1px 4px 1px !important;
                padding:1px 1px 2px;
                border:1px solid #3b70af;
                color:#fff;
                background:#689bd0;
                margin:0 1px 0 0;
                text-align:center;
                text-decoration:none;
                font:normal 12px/14px verdana;
            }

 .pages input {
                margin-bottom:0px;
                border:1px solid #2f5fa1;
                height:15px;
                font:bold 12px/15px Verdana;
                padding-bottom:1px;
                padding-left:1px;
                margin-right:1px;
                color:#2f5fa1;
            }